In [1]:
import pandas as pd
import logging

from src import eda, datasets

In [2]:
logging.getLogger().setLevel(logging.DEBUG)

In [3]:
project_pack = datasets.DatasetPack(restore=True)

INFO:root:Restoring backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/_dataset_pack_end-to-end-data-analysis.json
INFO:root:No source provided, restoring from backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/df_bandcamp_sales.pkl
INFO:root:No source provided, restoring from backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/df_discogs_artists.pkl
INFO:root:No source provided, restoring from backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/df_discogs_releases.pkl

In [4]:
for label, dataset in project_pack.dictionary.items():
    print(f"================= {label} =================")
    dataset.dataframe.info()
    print()

================= df_bandcamp_sales =================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 17 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   _id               1000000 non-null  object
 1   item_type         1000000 non-null  object
 2   utc_date          1000000 non-null  float64
 3   country_code      1000000 non-null  object
 4   country           1000000 non-null  object
 5   slug_type         988416 non-null   object
 6   item_price        1000000 non-null  float64
 7   item_description  999977 non-null   object
 8   art_id            764520 non-null   float64
 9   url               1000000 non-null  object
 10  releases          11584 non-null    float64
 11  artist_name       999990 non-null   object
 12  currency          1000000 non-null  object
 13  album_title       356461 non-null   object
 14  amount_paid_usd   1000000 non-null  float64
 15  amount_over_fmt   119133 non-null   object
 16  item_slug         21742 non-null    object
dtypes: float64(5), object(12)
memory usage: 129.7+ MB

================= df_discogs_artists =================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9194907 entries, 0 to 9194906
Data columns (total 12 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   aliases_name         object
 2   aliases_name_id      float64
 3   artist_data_quality  object
 4   artist_id            int64
 5   artist_name          object
 6   artist_realname      object
 7   groups_name          object
 8   groups_name_id       float64
 9   members_name         object
 10  members_name_id      float64
 11  namevariations_name  object
dtypes: float64(3), int64(2), object(7)
memory usage: 841.8+ MB

================= df_discogs_releases =================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17372035 entries, 0 to 17372034
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   release_id  int64
 1   country     object
 2   year        float64
 3   genre       object
 4   format      object
dtypes: float64(1), int64(1), object(3)
memory usage: 662.7+ MB

In [5]:
# TODO: convert to dictionary with labels as keys
auto_eda_pack = list()

for label, dataset in project_pack.dictionary.items():
    eda_report = eda.Auto_EDA(dataset)
    auto_eda_pack.append(eda_report)

In [6]:
for eda in auto_eda_pack:
    logging.info(f"================= {eda.dataset.label} =================")
    logging.info(f"Number of rows before cleanup: {eda.init_rows}")
    eda.auto_cleanup()
    logging.info(f"Number of rows after cleanup: {eda.count_rows()}")

INFO:root:================= df_bandcamp_sales =================
INFO:root:Number of rows before cleanup: 1000000
INFO:root:df_bandcamp_sales has no empty spaces.
INFO:root:df_bandcamp_sales has no duplicates.
INFO:root:Number of rows after cleanup: 1000000
INFO:root:================= df_discogs_artists =================
INFO:root:Number of rows before cleanup: 9194907
INFO:root:df_discogs_artists has no empty spaces.
INFO:root:df_discogs_artists has no duplicates.
INFO:root:Number of rows after cleanup: 9194907
INFO:root:================= df_discogs_releases =================
INFO:root:Number of rows before cleanup: 17372035
INFO:root:df_discogs_releases has no empty spaces.
INFO:root:df_discogs_releases had duplicates. They had been dropped and index was reset.
INFO:root:Number of rows after cleanup: 17246710

In [9]:
# this code varifies that the cleanup took place in the original data frame restored from pickle:
project_pack.dictionary['df_discogs_releases'].dataframe.info()
# before: 17372035 rows
# after cleanup: 17246710 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17246710 entries, 0 to 17246709
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   release_id  int64
 1   country     object
 2   year        float64
 3   genre       object
 4   format      object
dtypes: float64(1), int64(1), object(3)
memory usage: 657.9+ MB

In [8]:
# now I want to backup the changed data frame:
project_pack.dictionary['df_discogs_releases'].backup()

INFO:root:Backup file is created: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/df_discogs_releases.pkl

In [11]:
for eda in auto_eda_pack:
    print(f"================= {eda.dataset.label} =================")
    df_nulls = eda.count_nulls()
    print(df_nulls)
    print()

================= df_bandcamp_sales =================
                   is_na   not_na  na_percent na_percent_pretty
releases          988416    11584     98.8416            98.84%
item_slug         978258    21742     97.8258            97.83%
amount_over_fmt   880867   119133     88.0867            88.09%
album_title       643539   356461     64.3539            64.35%
art_id            235480   764520     23.5480            23.55%
slug_type          11584   988416      1.1584             1.16%
item_description      23   999977      0.0023             0.00%
artist_name           10   999990      0.0010             0.00%
_id                    0  1000000      0.0000             0.00%
item_type              0  1000000      0.0000             0.00%
utc_date               0  1000000      0.0000             0.00%
country_code           0  1000000      0.0000             0.00%
country                0  1000000      0.0000             0.00%
item_price             0  1000000      0.0000             0.00%
url                    0  1000000      0.0000             0.00%
currency               0  1000000      0.0000             0.00%
amount_paid_usd        0  1000000      0.0000             0.00%

================= df_discogs_artists =================
                       is_na   not_na  na_percent na_percent_pretty
aliases_name         8600121   594786   93.531354            93.53%
aliases_name_id      8600118   594789   93.531321            93.53%
members_name         8591817   603090   93.441043            93.44%
members_name_id      8591817   603090   93.441043            93.44%
artist_realname      8548249   646658   92.967215            92.97%
groups_name          7985597  1209310   86.848045            86.85%
groups_name_id       7985596  1209311   86.848034            86.85%
namevariations_name  7218547  1976360   78.505927            78.51%
artist_name                2  9194905    0.000022             0.00%
Unnamed: 0                 0  9194907    0.000000             0.00%
artist_data_quality        0  9194907    0.000000             0.00%
artist_id                  0  9194907    0.000000             0.00%

================= df_discogs_releases =================
              is_na    not_na  na_percent na_percent_pretty
year        2160351  15086359   12.526163            12.53%
country      449975  16796735    2.609048             2.61%
genre             3  17246707    0.000017             0.00%
release_id        0  17246710    0.000000             0.00%
format            0  17246710    0.000000             0.00%

In [12]:
# using the information from dataframes from the previous output,
# dropping columns with all null values

# manually:
# project_pack.dictionary['df_discogs_releases'].dataframe.drop(columns= ["copy paste from the data frame print"], inplace=True) 

treshold = 70

# automatically:
for eda in auto_eda_pack:
    logging.info(f"================= {eda.dataset.label} =================")
    logging.info(f"Number of columns before cleanup: {eda.init_cols}")

    # TODO: stop calling the same expensive method over and over
    df_nulls = eda.count_nulls()

    columns_to_drop = df_nulls[df_nulls['na_percent'] > treshold].index.to_list()
    logging.info(f'Dropping {len(columns_to_drop)} empty columns: {columns_to_drop}')
    eda.df.drop(columns=columns_to_drop, inplace=True)
    logging.info(f"Number of columns after cleanup: {eda.count_cols()}")

    logging.info(f'Backing up result dataframe')
    eda.dataset.backup
    logging.info("\n")

INFO:root:================= df_bandcamp_sales =================
INFO:root:Number of columns before cleanup: 17
INFO:root:Dropping 3 empty columns: ['releases', 'item_slug', 'amount_over_fmt']
INFO:root:Number of columns after cleanup: 14
INFO:root:Backing up result dataframe
INFO:root:

INFO:root:================= df_discogs_artists =================
INFO:root:Number of columns before cleanup: 12
INFO:root:Dropping 8 empty columns: ['aliases_name', 'aliases_name_id', 'members_name', 'members_name_id', 'artist_realname', 'groups_name', 'groups_name_id', 'namevariations_name']
INFO:root:Number of columns after cleanup: 4
INFO:root:Backing up result dataframe
INFO:root:

INFO:root:================= df_discogs_releases =================
INFO:root:Number of columns before cleanup: 5
INFO:root:Dropping 0 empty columns: []
INFO:root:Number of columns after cleanup: 5
INFO:root:Backing up result dataframe
INFO:root:

In [13]:
for eda in auto_eda_pack:
    print(f"================= {eda.dataset.label} =================")
    df_nulls = eda.count_nulls()
    print(df_nulls)
    print()

================= df_bandcamp_sales =================
                   is_na   not_na  na_percent na_percent_pretty
album_title       643539   356461     64.3539            64.35%
art_id            235480   764520     23.5480            23.55%
slug_type          11584   988416      1.1584             1.16%
item_description      23   999977      0.0023             0.00%
artist_name           10   999990      0.0010             0.00%
_id                    0  1000000      0.0000             0.00%
item_type              0  1000000      0.0000             0.00%
utc_date               0  1000000      0.0000             0.00%
country_code           0  1000000      0.0000             0.00%
country                0  1000000      0.0000             0.00%
item_price             0  1000000      0.0000             0.00%
url                    0  1000000      0.0000             0.00%
currency               0  1000000      0.0000             0.00%
amount_paid_usd        0  1000000      0.0000             0.00%

================= df_discogs_artists =================
                     is_na   not_na  na_percent na_percent_pretty
artist_name              2  9194905    0.000022             0.00%
Unnamed: 0               0  9194907    0.000000             0.00%
artist_data_quality      0  9194907    0.000000             0.00%
artist_id                0  9194907    0.000000             0.00%

================= df_discogs_releases =================
              is_na    not_na  na_percent na_percent_pretty
year        2160351  15086359   12.526163            12.53%
country      449975  16796735    2.609048             2.61%
genre             3  17246707    0.000017             0.00%
release_id        0  17246710    0.000000             0.00%
format            0  17246710    0.000000             0.00%

In [14]:
for eda in auto_eda_pack:
    eda.print_eda_report()

================= df_bandcamp_sales =================
df_bandcamp_sales has shape (1000000, 14)

df_bandcamp_sales has numerical data in columns: ['utc_date', 'item_price', 'art_id', 'amount_paid_usd']
- Column "utc_date" has 999990 unique values.
- Column "art_id" has 271430 unique values.
- Column "amount_paid_usd" has 5866 unique values.
- Column "item_price" has 2878 unique values.

df_bandcamp_sales has categorical data in columns: ['_id', 'item_type', 'country_code', 'country', 'slug_type', 'item_description', 'url', 'artist_name', 'currency', 'album_title']
- Column "_id" has 1000000 unique values.
- Column "item_type" has 4 unique values.
  -- Unique values are:
 ['a' 'p' 't' 'b']
- Column "country_code" has 186 unique values.
- Column "country" has 186 unique values.
- Column "slug_type" has 3 unique values.
  -- Unique values are:
 ['a' 't' 'p' nan]
- Column "item_description" has 336985 unique values.
- Column "url" has 374473 unique values.
- Column "artist_name" has 159746 unique values.
- Column "currency" has 18 unique values.
  -- Unique values are:
 ['USD' 'GBP' 'EUR' 'AUD' 'JPY' 'SEK' 'CAD' 'CZK' 'NZD' 'DKK' 'CHF' 'ILS'
 'HUF' 'PLN' 'NOK' 'MXN' 'HKD' 'SGD']
- Column "album_title" has 103697 unique values.

================= df_discogs_artists =================
df_discogs_artists has shape (9194907, 4)

df_discogs_artists has numerical data in columns: ['Unnamed: 0', 'artist_id']
- Column "Unnamed: 0" has 9194907 unique values.
- Column "artist_id" has 9194907 unique values.

df_discogs_artists has categorical data in columns: ['artist_data_quality', 'artist_name']
- Column "artist_data_quality" has 6 unique values.
  -- Unique values are:
 ['Needs Vote' 'Correct' 'Needs Major Changes' 'Complete and Correct'
 'Needs Minor Changes' 'Entirely Incorrect']
- Column "artist_name" has 9194896 unique values.

================= df_discogs_releases =================
df_discogs_releases has shape (17246710, 5)

df_discogs_releases has numerical data in columns: ['release_id', 'year']
- Column "release_id" has 12867979 unique values.
- Column "year" has 132 unique values.

df_discogs_releases has categorical data in columns: ['country', 'genre', 'format']
- Column "country" has 281 unique values.
- Column "genre" has 15 unique values.
  -- Unique values are:
 ['Electronic' 'Hip Hop' 'Non-Music' 'Jazz' 'Rock' 'Latin' 'Funk / Soul'
 'Stage & Screen' 'Pop' 'Reggae' 'Folk, World, & Country' 'Classical'
 'Blues' 'Brass & Military' "Children's" nan]
- Column "format" has 57 unique values.

### From here onwards:
Due to the project deadline src package modules are used in a limited way and are subject to refactoring somewhen in future.

In [15]:
print("Copy the output as code to run in the next cell")
# TODO: implement DatasetPack.labels() to return a list
for label in project_pack.dictionary.keys():
    print(f"{label} = project_pack.dictionary['{label}'].dataframe")

Copy the output as code to run in the next cell
df_bandcamp_sales = project_pack.dictionary['df_bandcamp_sales'].dataframe
df_discogs_artists = project_pack.dictionary['df_discogs_artists'].dataframe
df_discogs_releases = project_pack.dictionary['df_discogs_releases'].dataframe

In [16]:
df_bandcamp_sales = project_pack.dictionary['df_bandcamp_sales'].dataframe
df_discogs_artists = project_pack.dictionary['df_discogs_artists'].dataframe
df_discogs_releases = project_pack.dictionary['df_discogs_releases'].dataframe

In [21]:
print("Copy the output as code to run in the next cell")
for eda in auto_eda_pack:
    print(f"num_cols_{eda.dataset.label} = {eda.get_numerical_columns()}")

Copy the output as code to run in the next cell
num_cols_df_bandcamp_sales = ['utc_date', 'item_price', 'art_id', 'amount_paid_usd']
num_cols_df_discogs_artists = ['Unnamed: 0', 'artist_id']
num_cols_df_discogs_releases = ['release_id', 'year']

In [22]:
num_cols_df_bandcamp_sales = ['utc_date', 'item_price', 'art_id', 'amount_paid_usd']
num_cols_df_discogs_artists = ['Unnamed: 0', 'artist_id']
num_cols_df_discogs_releases = ['release_id', 'year']

In [19]:
print("Copy the output as code to run in the next separate cells,\n each for one line")
for eda in auto_eda_pack:
    print(f"{eda.dataset.label}[num_cols_{eda.dataset.label}]")
    print(f"{eda.dataset.label}[num_cols_{eda.dataset.label}].describe().T")

Copy the output as code to run in the next separate cells,
 each for one line
df_bandcamp_sales[num_cols_df_bandcamp_sales]
df_bandcamp_sales[num_cols_df_bandcamp_sales].describe().T
df_discogs_artists[num_cols_df_discogs_artists]
df_discogs_artists[num_cols_df_discogs_artists].describe().T
df_discogs_releases[num_cols_df_discogs_releases]
df_discogs_releases[num_cols_df_discogs_releases].describe().T

## Descriptive statistics for numerical data

### Columns with continuous data

### Columns with descrete data

In [23]:
df_bandcamp_sales[num_cols_df_bandcamp_sales]

            utc_date  item_price        art_id  amount_paid_usd
0       1.599689e+09    9.990000  2.064053e+08             9.99
1       1.599689e+09    1.000000  2.984242e+09             1.30
2       1.599689e+09    3.000000  3.320495e+09             3.90
3       1.599689e+09   10.500000           NaN            12.39
4       1.599689e+09    1.000000  3.428873e+09             1.00
...              ...         ...           ...              ...
999995  1.601647e+09   20.000000           NaN            20.00
999996  1.601647e+09   20.200001  3.708391e+09            20.20
999997  1.601647e+09    0.000000  3.580857e+08             1.00
999998  1.601647e+09    6.000000           NaN             6.00
999999  1.601647e+09   30.000000           NaN            38.59

[1000000 rows x 4 columns]

In [24]:
df_bandcamp_sales[num_cols_df_bandcamp_sales].describe().T

,count,mean,std,min,25%,50%,75%,max
utc_date,1000000.0,1.600750e+09,6.049259e+05,1.599689e+09,1.600237e+09,1.600778e+09,1.601288e+09,1.601647e+09
item_price,1000000.0,1.547552e+01,1.217200e+02,0.000000e+00,1.000000e+00,5.000000e+00,1.000000e+01,2.976000e+04
art_id,764520.0,2.141628e+09,1.241930e+09,2.018000e+04,1.057849e+09,2.137613e+09,3.228946e+09,4.294959e+09
amount_paid_usd,1000000.0,8.931315e+00,1.249008e+01,2.000000e-01,2.000000e+00,6.000000e+00,1.163000e+01,1.286260e+03

In [25]:
df_discogs_artists[num_cols_df_discogs_artists]

         Unnamed: 0  artist_id
0                 0          1
1                 1          2
2                 2          3
3                 3          4
4                 4          5
...             ...        ...
9194902     9194902    1275492
9194903     9194903    1275493
9194904     9194904    1275494
9194905     9194905    1275498
9194906     9194906    1275500

[9194907 rows x 2 columns]

In [26]:
df_discogs_releases[num_cols_df_discogs_releases]

          release_id    year
0                  1  1999.0
1                  2  1998.0
2                  3  1999.0
3                  4  1999.0
4                  5  1995.0
...              ...     ...
17246705    15731745  1980.0
17246706    15731748  1975.0
17246707    15731752  2020.0
17246708    15731758  2007.0
17246709    15731760  2006.0

[17246710 rows x 2 columns]

In [27]:
df_discogs_releases[num_cols_df_discogs_releases].describe().T

,count,mean,std,min,25%,50%,75%,max
release_id,17246710.0,7.828094e+06,4.545709e+06,1.0,3810774.0,7729440.5,11836531.5,15731760.0
year,15086359.0,1.995260e+03,1.786837e+01,1860.0,1983.0,1998.0,2010.0,2021.0

## Descriptive statistics for categorical data

### Columns with nominal values:


### Columns with ordinal values: