In [2]:
import logging

from src import eda, datasets

In [3]:
logging.getLogger().setLevel(logging.DEBUG)

In [4]:
project_pack = datasets.DatasetPack(restore=True)

INFO:root:Restoring backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/_dataset_pack_end-to-end-data-analysis.json
INFO:root:No source provided, restoring from backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/df_bandcamp_sales.pkl
INFO:root:No source provided, restoring from backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/df_discogs_artists.pkl
INFO:root:No source provided, restoring from backup: /Users/bubblegum_doubledrops/Library/Mobile Documents/com~apple~CloudDocs/0prio - Important heavy backups/IronHack/big_projects/end-to-end-data-analysis/datasets/df_discogs_releases.pkl

In [5]:
for label, dataset in project_pack.dictionary.items():
    print(f"================= {label} =================")
    dataset.dataframe.info()
    print()

================= df_bandcamp_sales =================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   _id                    1000000 non-null  object
 1   art_url                1000000 non-null  object
 2   item_type              1000000 non-null  object
 3   utc_date               1000000 non-null  float64
 4   country_code           1000000 non-null  object
 5   track_album_slug_text  2237 non-null     object
 6   country                1000000 non-null  object
 7   slug_type              988416 non-null   object
 8   amount_paid_fmt        1000000 non-null  object
 9   item_price             1000000 non-null  float64
 10  item_description       999977 non-null   object
 11  art_id                 764520 non-null   float64
 12  url                    1000000 non-null  object
 13  amount_paid            1000000 non-null  float64
 14  releases               11584 non-null    float64
 15  artist_name            999990 non-null   object
 16  currency               1000000 non-null  object
 17  album_title            356461 non-null   object
 18  amount_paid_usd        1000000 non-null  float64
 19  package_image_id       232708 non-null   float64
 20  amount_over_fmt        119133 non-null   object
 21  item_slug              21742 non-null    object
 22  addl_count             21742 non-null    float64
dtypes: float64(8), object(15)
memory usage: 175.5+ MB

================= df_discogs_artists =================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9194907 entries, 0 to 9194906
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   aliases_name         object
 2   aliases_name_id      float64
 3   artist_data_quality  object
 4   artist_id            int64
 5   artist_name          object
 6   artist_profile       object
 7   artist_realname      object
 8   groups_name          object
 9   groups_name_id       float64
 10  members_name         object
 11  members_name_id      float64
 12  namevariations_name  object
 13  urls_url             object
dtypes: float64(3), int64(2), object(9)
memory usage: 982.1+ MB

================= df_discogs_releases =================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17372035 entries, 0 to 17372034
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   release_id  int64
 1   country     object
 2   year        float64
 3   genre       object
 4   format      object
dtypes: float64(1), int64(1), object(3)
memory usage: 662.7+ MB

In [6]:
for label, dataset in project_pack.dictionary.items():
    eda_report = eda.Auto_EDA(dataset)
    eda_report.print_eda_report()

DEBUG:root:Column "utc_date" has 999990 unique values.
DEBUG:root:Column "item_price" has 2878 unique values.
DEBUG:root:Column "art_id" has 271430 unique values.
DEBUG:root:Column "amount_paid" has 3315 unique values.
DEBUG:root:Column "releases" has 220 unique values.
DEBUG:root:Column "amount_paid_usd" has 5866 unique values.
DEBUG:root:Column "package_image_id" has 63940 unique values.
DEBUG:root:Column "addl_count" has 17 unique values.

================= df_bandcamp_sales =================
df_bandcamp_sales has shape (1000000, 23)

df_bandcamp_sales has numerical data in columns: ['utc_date', 'item_price', 'art_id', 'amount_paid', 'releases', 'amount_paid_usd', 'package_image_id', 'addl_count']
- Column "utc_date" has 999990 unique values.
- Column "item_price" has 2878 unique values.
- Column "art_id" has 271430 unique values.
- Column "amount_paid" has 3315 unique values.
- Column "releases" has 220 unique values.
- Column "amount_paid_usd" has 5866 unique values.
- Column "package_image_id" has 63940 unique values.
- Column "addl_count" has 17 unique values.

df_bandcamp_sales has categorical data in columns: ['_id', 'art_url', 'item_type', 'country_code', 'track_album_slug_text', 'country', 'slug_type', 'amount_paid_fmt', 'item_description', 'url', 'artist_name', 'currency', 'album_title', 'amount_over_fmt', 'item_slug']

DEBUG:root:Column "_id" has 1000000 unique values.
DEBUG:root:Column "art_url" has 335212 unique values.
DEBUG:root:Column "item_type" has 4 unique values.
DEBUG:root:Column "country_code" has 186 unique values.
DEBUG:root:Column "track_album_slug_text" has 792 unique values.
DEBUG:root:Column "country" has 186 unique values.
DEBUG:root:Column "slug_type" has 3 unique values.
DEBUG:root:Column "amount_paid_fmt" has 7127 unique values.
DEBUG:root:Column "item_description" has 336985 unique values.
DEBUG:root:Column "url" has 374473 unique values.
DEBUG:root:Column "artist_name" has 159746 unique values.
DEBUG:root:Column "currency" has 18 unique values.
DEBUG:root:Column "album_title" has 103697 unique values.
DEBUG:root:Column "amount_over_fmt" has 3084 unique values.
DEBUG:root:Column "item_slug" has 156 unique values.

- Column "_id" has 1000000 unique values.
- Column "art_url" has 335212 unique values.
- Column "item_type" has 4 unique values.
- Column "country_code" has 186 unique values.
- Column "track_album_slug_text" has 792 unique values.
- Column "country" has 186 unique values.
- Column "slug_type" has 3 unique values.
- Column "amount_paid_fmt" has 7127 unique values.
- Column "item_description" has 336985 unique values.
- Column "url" has 374473 unique values.
- Column "artist_name" has 159746 unique values.
- Column "currency" has 18 unique values.
- Column "album_title" has 103697 unique values.
- Column "amount_over_fmt" has 3084 unique values.
- Column "item_slug" has 156 unique values.

DEBUG:root:Column "Unnamed: 0" has 9194907 unique values.

================= df_discogs_artists =================
df_discogs_artists has shape (9194907, 14)

df_discogs_artists has numerical data in columns: ['Unnamed: 0', 'aliases_name_id', 'artist_id', 'groups_name_id', 'members_name_id']

DEBUG:root:Column "aliases_name_id" has 479617 unique values.
DEBUG:root:Column "artist_id" has 9194907 unique values.
DEBUG:root:Column "groups_name_id" has 449588 unique values.
DEBUG:root:Column "members_name_id" has 450795 unique values.
DEBUG:root:Column "aliases_name" has 479615 unique values.

- Column "Unnamed: 0" has 9194907 unique values.
- Column "aliases_name_id" has 479617 unique values.
- Column "artist_id" has 9194907 unique values.
- Column "groups_name_id" has 449588 unique values.
- Column "members_name_id" has 450795 unique values.

df_discogs_artists has categorical data in columns: ['aliases_name', 'artist_data_quality', 'artist_name', 'artist_profile', 'artist_realname', 'groups_name', 'members_name', 'namevariations_name', 'urls_url']

DEBUG:root:Column "artist_data_quality" has 6 unique values.
DEBUG:root:Column "artist_name" has 9194896 unique values.
DEBUG:root:Column "artist_profile" has 1389629 unique values.
DEBUG:root:Column "artist_realname" has 541891 unique values.
DEBUG:root:Column "groups_name" has 449587 unique values.
DEBUG:root:Column "members_name" has 450795 unique values.
DEBUG:root:Column "namevariations_name" has 1582994 unique values.
DEBUG:root:Column "urls_url" has 923841 unique values.

- Column "aliases_name" has 479615 unique values.
- Column "artist_data_quality" has 6 unique values.
- Column "artist_name" has 9194896 unique values.
- Column "artist_profile" has 1389629 unique values.
- Column "artist_realname" has 541891 unique values.
- Column "groups_name" has 449587 unique values.
- Column "members_name" has 450795 unique values.
- Column "namevariations_name" has 1582994 unique values.
- Column "urls_url" has 923841 unique values.

================= df_discogs_releases =================
df_discogs_releases has shape (17372035, 5)

df_discogs_releases has numerical data in columns: ['release_id', 'year']

DEBUG:root:Column "release_id" has 12867979 unique values.
DEBUG:root:Column "year" has 132 unique values.
DEBUG:root:Column "country" has 281 unique values.

- Column "release_id" has 12867979 unique values.
- Column "year" has 132 unique values.

df_discogs_releases has categorical data in columns: ['country', 'genre', 'format']

DEBUG:root:Column "genre" has 15 unique values.
DEBUG:root:Column "format" has 57 unique values.

- Column "country" has 281 unique values.
- Column "genre" has 15 unique values.
- Column "format" has 57 unique values.